<mat-sidenav-container style="height:100%;" class="example-container">

  <mat-sidenav autoFocus="false" style="width:80%;" #sidenav mode="over">
    <div style="height:100%" fxLayout="column" fxLayoutAlign="start center">
      <div fxFlex class="choices-color" style="width:100%;"></div>
      <div fxFlex fxLayout="column" style="width: 100%;">
        <button fxFlex="50px" fxLayout="row" fxLayoutAlign="start center" mat-button (click)="gotToNextScreen('scan',sidenav)">
          barcode scan</button>
        <mat-divider></mat-divider>
        <button fxFlex="50px" fxLayout="row" fxLayoutAlign="start center" mat-button (click)="gotToNextScreen('list',sidenav)">
          shopping list</button>
        <mat-divider></mat-divider>
        <button fxFlex="50px" fxLayout="row" fxLayoutAlign="start center" mat-button (click)="gotToNextScreen('recipesDashboard',sidenav)">
          recipes dashboard</button>
        <mat-divider></mat-divider>
        <button fxFlex="50px" fxLayout="row" fxLayoutAlign="start center" mat-button (click)="gotToNextScreen('storedDashboard',sidenav)">
          stored items dashboard</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="overflow-hidden">

    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="choices-color">
      <div (click)="sidenav.toggle()" style="font-size:30px; color:white; cursor:pointer;" class="fa fa-bars ml-3"></div>
<div *ngIf="screenState && (screenState.panelSideVisible === 'middle' || screenState.panelSideVisible === 'right')"
  (click)="goBack()" style="font-size:40px; color:white; cursor:pointer;"
        class="fa fa-chevron-circle-left"></div>
      <div style="color: #212529;" class="fa fa-ellipsis-h mr-3"></div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
